header
{
    background-color: crimson;
    padding: 2px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;

}
header h1
{
    color: white;
    border: 8px solid;
    padding: 6px 12px ;
    font-family: Comic Sans MS;
    font-size: 40px;
    display: inline-block;
    border-radius: 40px;
}

.banner 
{
    position: relative;
}

.banner .img
{
   width: 100%;
    
}

.banner .wel
{
    padding:15px;
    position: absolute;
    left: 5%;
    top: 5%;
}
.banner .wel2
{
    position: absolute;
    padding: 30px;
    left: 30%;
    top: 14%;
}
.banner .wel
{
    font-size: 80px;
    font-family: sans-serif;
}
.banner .wel2
{
    color:black;
    font-family: Comic Sans MS;
    font-size: 100px;

}